<!DOCTYPE html>
<html>
<head>
	<title>Template</title>
	<!-- build:remove -->
	<!-- EXPRESS PATHS -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- endbuild -->
	<!-- USEREF PATHS -->
	<!--build:css css/style.min.css -->
	<link rel="stylesheet" type="text/css" href="../public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<!-- endbuild -->

</head>
<body>
	<div class="test">
		<img id="heart" alt="Pink heart" src="images/sprites/heartSprite.png">
		<h1 class="test">Gulp/SASS Template</h1>
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<!-- build:remove -->
	<!-- EXPRESS PATHS -->
	<script type="text/javascript" src="/js/logic.js"></script>
	<script type="text/javascript" src="/js/second.js"></script>
	<!-- endbuild -->
	<!-- USEREF PATHS -->
	<!--build:js js/main.min.js -->
	<script type="text/javascript" src="../public/js/logic.js"></script>
	<script type="text/javascript" src="../public/js/second.js"></script>
	<!-- endbuild -->

</body>
</html>